*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head{
    color: blue;
}

/* Vazifa */

.contact{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(95, 26, 26, 0.733);
    padding: 50px;
    margin-left: 400px;
    margin-top: 50px;
    max-width: 600px;
}

.head{
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
}

.foot{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foot1{
    display: flex;
    gap: 10px;
}

.foot1 input{
    padding: 10px;
    outline: none;
}

.foot2{
    display: flex;
    gap: 10px;
}

.foot4{
    padding: 10px;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease;
}

.foot4:hover{
    background-color: rgb(6, 6, 92);
}